#planet {
  background-color: black;
  height: 100vh;
  width: 100vw;
}

#title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title h1 {
  margin: 0;
  color: rgb(184, 184, 184);
  font-size: 3em;
}

#title h2 {
  color: rgb(223, 204, 146);
}
